.jumbotron {
  background: url("banner.jpg") no-repeat center center; 
    background-size: 100% 100%;
}

.navbar {
    border: none;   
}

html,body {height:100%;}
.element, #first, #about, #who, #contact, #download {height:100%;}

.jumbotron img{
    height: 100%;
}

.jumbotron {
    height: 90%;   
}

.navbar-header{
    height: 70px;
}
.navbar-brand img {
    margin: 0px;
    margin-right: 1em;   
}

.navbar-right {
    padding-top: 10px;   
}

html {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#col-but {
    margin-top: 21px;
}

a {
    text-decoration: none;
}

#about {
    background-color: #ddd;   
}

.jumbotron {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.element, #about, #who, #contact, #download {
    margin: 0px;   
}

#about, #who, #contact, #download {
    padding: 30px;   
}

h1, p{
    margin: 0px;
    padding: 0px;
}

h1, #boldit {
    color: white;
    font-weight: bold;
}

h1, h2 {
    display: inline-block;
    color: rgb(194, 126, 126);
}

.title {
    color: black;
    font-size: 48px;
}

#boldit {
    font-size: 57px;
}

.jumbotron div {
    display: inline;
    margin-bottom: 0px;
        padding-bottom: 0px;
}

.jumbotron h2 {
    display: inline-block;
    margin: 0px;
        padding: 5px;
}

.title div {
    font-size: 36px;
}

#about {
      background: url("bg2.jpg") no-repeat center center; 
    background-size: 100% 100%; 
}